@using Vendr.Portal.Web;
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "VendrPortalAuthMaster.cshtml";

    var resetPasswordPage = Model.GetPortalResetPasswordPage();
    var registerPage = Model.GetPortalRegisterPage();

    var errorMsg = TempData["VendrPortalErrorMessage"]?.ToString();
    var hasError = !string.IsNullOrWhiteSpace(errorMsg);
}

<div class="max-w-md w-full py-12 px-6">
    <p class="mt-6 text-sm leading-5 text-center text-gray-900">Log in to your account</p>
    @using (Html.BeginUmbracoForm("Login", "VendrPortalAuthSurface", null, new { @class = "mt-5" }, FormMethod.Post))
    {
        <div class="rounded-md shadow-sm">
            <div>
                <input aria-label="Email address" name="email" type="email" required="" class="@(hasError ? "border-red-600" : "border-gray-300") placeholder-gray-500 appearance-none rounded-none relative block w-full px-3 py-2 border text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Email address" value="">
            </div>
            <div class="-mt-px relative">
                <input aria-label="Password" name="password" type="password" required="" class="@(hasError ? "border-red-600" : "border-gray-300") placeholder-gray-500 appearance-none rounded-none relative block w-full px-3 py-2 border text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5" placeholder="Password">
            </div>
        </div>

        if (hasError)
        {
            <p class="mt-2 text-sm leading-5 text-red-600">@(errorMsg)</p>
        }

        <div class="mt-6 flex items-center justify-between">

            <div class="flex items-center">
                <input id="remember_me" name="rememberMe" type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" value="true">
                <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900">
                    Remember me
                </label>
            </div>

            @if (resetPasswordPage != null)
            {
                <div class="text-sm leading-5">
                    <a href="@(resetPasswordPage.Url)" class="font-medium text-indigo-600 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                        Forgot your password?
                    </a>
                </div>
            }

        </div>

        <div class="mt-5">
            <button type="submit" class="relative group block w-full py-2 px-3 border border-transparent rounded-md text-white font-semibold bg-indigo-600 hover:bg-indigo-500 focus:bg-indigo-900 focus:outline-none focus:shadow-outline sm:text-sm sm:leading-5">
                <span class="absolute left-0 inset-y pl-3">
                    <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
                    </svg>
                </span>
                Log in
            </button>
        </div>
    }

    @if (registerPage != null)
    {
        <div class="mt-6">
            <div class="relative">
                <div class="absolute inset-0 flex items-center">
                    <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex justify-center text-sm leading-5">
                    <span class="px-2 bg-gray-100 text-gray-500">Don't have an account?</span>
                </div>
            </div>
            <div class="mt-6">
                <a href="@(registerPage.Url)" class="block w-full text-center py-2 px-3 border border-gray-300 rounded-md text-gray-900 font-medium hover:border-gray-400 focus:outline-none focus:border-gray-400 sm:text-sm sm:leading-5">
                    Register
                </a>
            </div>
        </div>
    }
</div>

